.link {
  transition: all .25s;
}

.link:hover {
  color: var(--color-attract-main);
}

.info-descr {
  display: inline-block;
  width: 90px;
}


@media screen and (max-width: 660px) {
  .info-descr {
    width: 75px;
  }
}