.personal {
  display: flex;
  justify-content: flex-start;

  gap: 0px 100px;
}

.personal-header {
  margin: 0 0 10px 0;
  color: var(--color-attract-second);
}



.info-wrapper {
  display: grid;
  align-content: center;
  gap: 5px 0px;
  grid-auto-rows: max-content;
}

.info-descr {
  display: inline-block;
  width: 90px;
}

.link {
  transition: all .25s;
}

.link:hover {
  color: var(--color-attract-main);
}




.img-wrapper {
  height: 200px;
  width: auto;

  border-radius: 30px;

  overflow: hidden;
}

.img {
  width: inherit;
  height: inherit;
}



@media screen and (max-width: 860px) {
  .personal {
    gap: 0px 50px;
  }
}

@media screen and (max-width: 660px) {
  .personal {
    flex-direction: column-reverse;
    gap: 10px 0px;
  }

  .personal-header{
    line-height: 120%;
    margin-bottom: 0;
  }

  .info-descr {
    width: 75px;
  }
}