a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100vw;
  background-image: radial-gradient(circle, #2e0026 50%, #250020 100%);
}

.nav {
  padding: 0px 40px;
}

.nav__list {
  margin: 0;

  list-style: none;

  display: flex;
  justify-content: center;
}

.nav__list a {
  display: inline-block;

  padding: 15px 30px;

  color: #ffd478;

  letter-spacing: 0.25px;

  border-radius: 0px 0px 10px 10px;

  transition: all .25s;
}

.nav__list a:hover,
.nav__list a.active {
  color: #9ee4e9;

  border-bottom: 3px solid #9ee4e9;
}