a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  width: 100vw;
  background-image: radial-gradient(circle, #2e0026 50%, #250020 100%);
}

.lang__wrapper {
  position: absolute;
  top: 50%;
  left: 50px;

  transform: translateY(-50%);

  letter-spacing: .4px;
}

.lang__descr {
  color: #ffd478;
  margin-right: 5px;
}

.lang__margin {
  margin: 0 5px;
}

.lang {
  padding: 5px 10px;
  color: #04b964;
}

.lang:hover {
  color: #9ee4e9;
  cursor: pointer;
}


.nav {
  padding: 0px 40px;
}

.nav__list {
  margin: 0;

  list-style: none;

  display: flex;
  justify-content: center;
}

.nav__list a {
  display: inline-block;

  padding: 15px 30px;

  color: #ffd478;

  letter-spacing: 0.25px;

  border-radius: 0px 0px 10px 10px;

  transition: all .25s;
}

.nav__list a:hover,
.nav__list a.active {
  color: #9ee4e9;

  border-bottom: 3px solid #9ee4e9;
}

.score__wrapper {
  position: absolute;
  top: 50%;
  right: 50px;

  transform: translateY(-50%);
}

.score__margin {
  margin-right: 5px;
}