a {
  text-decoration: none;
  color: inherit;
}

.header {
  width: 100vw;
  background-image: radial-gradient(circle, #410037 50%, #270020 100%);
}

.nav {
  padding: 10px 40px 0 40px;
}

.nav__list {
  margin: 0;

  list-style: none;

  display: flex;
  justify-content: center;
}

.nav__list a {
  display: inline-block;
  padding: 15px 30px;

  color: #ffd478;

  border-radius: 3px;
  border: 1px solid transparent;

  transition: all .25s;

  letter-spacing: 0.25px;
}

.nav__list a:hover,
.nav__list a.active {
  cursor: pointer;
  background-color: #1f0022;
  color: #9ee4e9;

  border: 1px solid #9ee4e9;
}