.footer {
  width: 100vw;

  padding: 20px 40px;

  background-image: radial-gradient(circle, #22001d 50%, #1a0016 100%);
  color: #ffd478;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 860px) {
  .footer {
    padding: 15px 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .footer {
    padding: 10px 20px;
    font-size: 13px;
  }
}