.footer {
  width: 100vw;

  padding: 20px 40px;

  background-image: radial-gradient(circle, #22001d 50%, #1a0016 100%);
  color: #ffd478;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-end;
}