ul{
  list-style: none;
}

.lang__wrapper {
  position: absolute;
  top: 50%;
  left: 50px;

  transform: translateY(-50%);

  letter-spacing: .4px;
}

.lang__descr {
  color: #ffd478;
  margin-right: 5px;
}

.lang__margin {
  margin: 0 5px;
}

.lang {
  padding: 5px 10px;
  color: #04b964;
}

.lang:hover {
  color: #9ee4e9;
  cursor: pointer;
}



@media screen and (max-width: 1200px) {}

@media screen and (max-width: 860px) {
  .lang__wrapper {
    left: 20px;
  }

  .lang__descr {
    display: none;
  }

  .lang {
    padding: 6px 5px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    font-size: 13px;
  }

  .lang__margin {
    margin: 0 2px;
  }

  .lang__wrapper {
    left: 10px;
  }
}