.score-modal {
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  z-index: 200;

  width: 50vw;
  padding: 3vh 3vw;

  background-color: #dbb768;
  color: #350000;

  border-radius: 5px;
}

.score-modal__label {
  user-select: none;
}

.score-modal__label:hover {
  cursor: pointer;
}

.score-modal__input {
  outline: none;

  margin-left: 10px;
  padding: 4px 8px;

  font-size: 14px;
  letter-spacing: .4px;

  border: 2px solid transparent;
  border-radius: 3px;
}

.score-modal__input:focus {
  border: 2px solid #9ee4e9;
}

.score-modal__actions {
  margin-top: 25px;
}

.score-modal__btn {
  position: relative;
  z-index: 10;

  padding: 16px 50px;
  border-radius: 5px;

  font-size: 18px;
  letter-spacing: .5px;

  background: #04b964af;

  border: 2px solid transparent;
  outline: none;

  transition: all .25s;
}

.score-modal__btn:hover {
  cursor: pointer;
  background: #04a4b9;
  color: #ffffffbe;
  border: 2px solid #ffffff8f;
}

.margin-right {
  margin-right: 20px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 150;

  width: 100vw;
  height: 100vh;
  background-color: #000000c4;
}

.btn__cancel {
  background-color: #000000e0;
  color: aliceblue;
}


.score-modal__header {
  margin: 0 0 10px 0;
}

.score-modal__subheader {
  margin: 10px 0;
}

@media screen and (max-width: 1200px) {
  .score-modal__btn {
    padding: 14px 42px;
    font-size: 16px;
  }
}

@media screen and (max-width: 860px) {
  .score-modal {
    padding: 20px 10px;
    width: 90vw;
  }

  .score-modal__input {
    font-size: 12px;
  }

  .score-modal__btn {
    padding: 10px 20px;
    font-size: 13px;
  }

  .margin-right {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 430px) {
  .score-modal__input {
    font-size: 11px;
  }

  .score-modal__btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}