.main {
  position: relative;
  z-index: 10;

  flex-grow: 1;

  display: flex;
  align-items: center;

  overflow: hidden;

}

.bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  opacity: .15;
  background: center / cover no-repeat url('./../assets/bg-img/bg-1.webp');

  animation: 30s cubic-bezier(1, 0, 0, 1) infinite changeBg;
}

@keyframes changeBg {
  10% {
    background-image: url('./../assets/bg-img/bg-2.webp');
  }

  20% {
    background-image: url('./../assets/bg-img/bg-3.webp');
  }

  30% {
    background-image: url('./../assets/bg-img/bg-4.webp');
  }

  40% {
    background-image: url('./../assets/bg-img/bg-5.webp');
  }

  50% {
    background-image: url('./../assets/bg-img/bg-6.webp');
  }

  60% {
    background-image: url('./../assets/bg-img/bg-7.webp');
  }

  70% {
    background-image: url('./../assets/bg-img/bg-8.webp');
  }

  80% {
    background-image: url('./../assets/bg-img/bg-9.webp');
  }

  90% {
    background-image: url('./../assets/bg-img/bg-10.webp');
  }

  100% {
    background-image: url('./../assets/bg-img/bg-1.webp');
  }
}

@media screen and (max-width: 860px) {
  .main {
    padding: 20px 0;
    align-items: flex-start;
  }
}