:root {
  --color-bg-main: #242424;
  --color-bg-header: #1b3761de;

  --color-font-main: #dbdbdb;

  --color-link: #dbdbdb;

  --color-attract-main: #35e21e;
  --color-attract-second: #53add6;


  --color-fill-main: #35e21e;
  --color-scroll: #53add6;

  --width-content: 900px;
  --width-content-projects: 1200px;


  --transition-main: .25s;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-font-main);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}