* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  min-width: 320px;

  height: 100vh;

  margin: 0;

  display: flex;
  place-items: center;
}

#root {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}