.nav {
  display: flex;
  place-items: center;
}

.nav-list {
  margin: 0;
  padding: 0;

  display: flex;
  place-items: center;
}

.nav-list li {
  display: flex;
  place-items: center;
}

.nav-list a {
  padding: 5px 10px;
  margin-right: 5px;

  color: var(--color-link);

  transition: all var(--transition-main);
}

.nav-list a:hover,
.nav-list a.active {
  color: var(--color-attract-main);
}

.active {
  color: var(--color-attract-main);
}

@media screen and (max-width: 400px) {
  .nav{
    font-size: 90%;
  }

  .nav-list a{
    padding: 5px;
  }
}