.nav-list {
  margin: 0;
  padding: 0;

  display: flex;
}

.nav-list a {
  padding: 5px 10px;
  margin-right: 5px;

  color: var(--header-font-color);
}

.nav-list a:hover,
.nav-list a.active {
  color: var(--header-font-color__hover);
}

.active {
  color: var(--header-font-color__hover);
}