.answer {
  display: flex;

  padding: 8px 24px;
  margin: 10px 10px;

  background: #7e7e7e5d;

  border-radius: 3px;

  transition: all .25s;
}

.answer:hover {
  cursor: pointer;
  background: #9ee4e9;
  color: #330000;
}

@media screen and (max-width: 1200px) {
  .answer {
    font-size: 16px;
    padding: 6px 18px;
    margin: 8px;
  }
}

@media screen and (max-width: 860px) {
  .answer {
    font-size: 14px;
    padding: 4px 12px;
    margin: 6px;
  }
}

@media screen and (max-width: 430px) {
  .answer {
    font-size: 12px;
    padding: 3px 9px;
    margin: 4px;
  }
}