.answer-list {
  list-style: none;

  padding: 10px 20px;

  display: flex;
  flex-wrap: wrap;

  border-radius: 5px;
  background: #24001ebe;
}

.answer {
  display: flex;
  padding: 8px 24px;
  margin: 10px 10px;

  background: #7e7e7e5d;

  border-radius: 3px;

  transition: all .25s;
}

.answer:hover {
  cursor: pointer;
  background: #9ee4e9;
  color: #330000;
}

.right {
  background: rgba(9, 255, 0, 0.25);
  color: rgb(0, 255, 0);
}

.wrong {
  background: rgba(255, 0, 0, 0.25);
  color: red;

  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .answer-list {
    padding: 8px 16px;
  }

  .answer {
    font-size: 16px;
    padding: 6px 18px;
    margin: 8px;
  }
}

@media screen and (max-width: 860px) {
  .answer-list {
    padding: 6px 12px;

    justify-self: center;
  }

  .answer {
    font-size: 14px;
    padding: 4px 12px;
    margin: 6px;
  }
}

@media screen and (max-width: 430px) {
  .answer-list {
    padding: 4px 8px;
  }

  .answer {
    font-size: 12px;
    padding: 2px 6px;
    margin: 4px;
  }
}