.quiz-wrapper {
  width: fit-content;
  margin-left: 20vw;

  display: flex;
  flex-direction: column;
}

.data-wrapper {
  max-width: 60vw;
  display: grid;
  justify-items: start;
}

.button-wrapper {
  display: flex;
  justify-content: flex-start;
}

.button {
  position: relative;
  z-index: 10;

  padding: 16px 50px;
  border-radius: 5px;

  font-size: 18px;
  letter-spacing: .4px;

  background: #ffd478;

  border: 1px solid transparent;
  outline: none;

  transition: all .25s;
}

.button:hover {
  cursor: pointer;
  background: #9ee4e9;
  color: #330000;
}

.button__disabled,
.button__disabled:hover {
  user-select: none;
  cursor: not-allowed;
  background: #ffd47842;
  color: #000000b0;
}