.quiz-wrapper {
  width: fit-content;
  margin-left: 20vw;
  
  display: flex;
  flex-direction: column;
}

.data-wrapper {
  display: flex;
  justify-content: flex-start;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.answer {
  padding: 8px 24px;
  margin: 10px 0px;

  background: #7e7e7e5d;

  border-radius: 3px;

  transition: all .25s;
}