 audio {
   height: 30px;
   width: 400px;
 }

 @media screen and (max-width: 1200px) {
   audio {
     height: 30px;
     width: 300px;
   }
 }

 @media screen and (max-width: 860px) {
   audio {
     height: 25px;
     width: 240px;

     justify-self: center;
   }
 }

 @media screen and (max-width: 430px) {
   audio {
     justify-self: end;
   }
 }