.section {
  display: flex;
  place-content: center;

  color: var(--color-font-main);
}

.content-wrapper {
  max-width: var(--width-content-projects);

  padding: 20px 40px;
}

.main-header {
  margin: 0 0 20px 0;
}

.sub-header {
  color: var(--color-attract-second);
}


@media screen and (max-width: 600px) {
  .content-wrapper {
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  .content-wrapper {
    font-size: 90%;
  }
}