.description {
  display: flex;
}

.image-wrapper {
  display: flex;
  justify-content: flex-start;
  
  height: auto;
  max-height: 50vh;
  min-height: 25vh;
  
  width: auto;
  max-width: 25vw;
  min-width: 25vw;
}

.image-wrapper img {
  height: inherit;
  max-height: inherit;
  min-height:inherit;

  width: inherit;
  max-width: inherit;
  /* min-width: inherit; */
}

.bird-data__wrapper {
  margin-left: 50px;
  display: grid;
  justify-items: start;

  text-align: left;
}

.bird-data{
  margin-right: 10px;

  font-size: 110%;
  font-style: italic;
  letter-spacing: .4px;
  color: #ffd478;
}