.description {
  display: flex;
  color: #dbffee;
}

.image-wrapper {
  display: flex;
  justify-content: flex-start;

  height: auto;
  max-height: 50vh;

  width: auto;
  max-width: 25vw;
}

.image-wrapper img {
  height: inherit;
  max-height: inherit;

  width: inherit;
  max-width: inherit;

  border-radius: 5px;
}

.bird-data__wrapper {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-items: start;

  text-align: left;
}

h2,
h3 {
  text-align: left;
  height: fit-content;
}

.bird-data {
  margin-right: 10px;

  font-size: 110%;
  font-style: italic;
  letter-spacing: .4px;
  color: #fcd93f;
}

.bird__description {
  max-width: 570px;
}

@media screen and (max-width: 1200px) {
  .image-wrapper {
    max-width: 200px;
    max-height: 30vh;

    height: auto;
  }

  .bird-data__wrapper {
    margin-left: 30px;
  }

  .bird__name {
    margin: 12px 0;
  }

  .bird__species {
    margin: 8px 0;
  }

  .bird__description {
    max-width: fit-content;
    margin: 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 860px) {
  .image-wrapper {
    max-height: 180px;

    margin-bottom: 20px;

    align-self: center;
  }

  .description {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .bird__name_temp {
    width: 100%;
    text-align: center;
  }

  .bird__name {
    margin: 20px 0 0 0;
  }

  .bird__species {
    margin: 5px 0 0 0;
  }

  .bird__description {
    margin: 5px 0 0 0;
    font-size: 14px;
  }

  .bird-data__wrapper {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 430px) {
  .image-wrapper {
    width: 180px;
    align-self: flex-end;
    margin-bottom: 55px;
  }

  .bird__description {
    font-size: 12px;
  }

  .bird__name {
    margin-top: 10px;
  }

  .bird-data__wrapper {
    margin-left: 10px;
  }
}